@using AdminPanel.Areas.Admin.ViewModels
@model EditColorViewModel

@{
    ViewBag.Title = "Edit Color: " + Model.Name;
}

<script type="text/javascript">

    // file input preview
    function imagePreview(input) {
        if (input.files && input.files[0]) {

            var fileRdr = new FileReader();
            fileRdr.onload = function (e) {
                $('#imgPrvw').attr('src', e.target.result);
                $('#imgPrvw').css('border', '1px solid black');
            };
            fileRdr.readAsDataURL(input.files[0]);
        }
    }
</script>

<div class="container">
    @using (Html.BeginForm("EditColor", "Color", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="well noPaddMain col-xs-12">
            <fieldset>
                <legend>Edit Color</legend>
                <div class="col-md-12 col-xs-12" style="overflow: hidden">
                    <div class="col-md-6 col-xs-12">
                        <div class="row col-xs-12">
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "col-md-offset-1" })
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                @Html.LabelFor(m => m.Name, new { @class = "requiredA control-label col-md-5", @style = "margin-top:12px" })
                                <div class="col-md-7" style="margin-top:8px">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="col-md-12 form-group">
                                    @Html.Label("Actual image:")
                                    <img src="~/Content/Images/Colors/@Model.FilePath.FileName" style="border: 1px solid black" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            @Html.Label("Image after edit:", new { @class = "col-md-6", @style = "margin-top:15px" })
                            <img id="imgPrvw" />
                        </div>
                        <div class="row">
                            <input type="file" id="colorImage" name="upload" onchange="imagePreview(this)" class="btn btn-info btn-xs col-xs-12" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <hr />
                    <div>
                        <input type="submit" value="CONFIRM" class="btn btn-success btn-sm" />
                        @Html.ActionLink("CANCEL", "Index", "Color", null, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </div>
            </fieldset>
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}